<div class="col-12">
    <div class="card card-profile">
        <div class="card-avatar">
            <a>
                <img class="img" src="./assets/img/faces/marc.jpg" />
            </a>
        </div>
        <div class="card-body">
            <h4 class="card-title">{{data.nom}} {{data.prenom}}</h4>
            <p>
                ID  {{data.numClient}}
            </p>
            <p>
                mail  {{data.email}}
            </p>
            <p>
                sexe {{data.sexe}}
            </p>
            <p>
                cin  {{data.cin}}
            </p>
            <p>
                fonction  {{data.fonction}}
            </p>
            <p>
                nature  {{data.nature}}
            </p>
        </div>
    </div>
</div>


