<div class="col-12 p-0 m-0" >
    <div class="col-12 p-0 m-0 " >
        <h3 class="model-titre">Autres Informations</h3>
    </div>
    <div>

        <div class="card-body">
            <h4 class="card-title">{{data.nom}} {{data.prenom}}</h4>
            <p>
                ID  {{data.numClient}}
            </p>
            <p>
                mail  {{data.email}}
            </p>
            <p>
                sexe {{data.sexe}}
            </p>
            <p>
                cin  {{data.cin}}
            </p>
            <p>
                fonction  {{data.fonction}}
            </p>
            <p>
                nature  {{data.nature}}
            </p>
            <p>
                @  {{adresse.ville}}
            </p>
            <p>
            @  {{adresse.gouvernorat}}
            </p>
        </div>
    </div>
</div>


