.model-titre{
  width: 100% ;
  color: #f2f4f7;
  background-color: #111f4d;
  margin: 0px;
  padding: 15px;

}

.Btn-blue{
  background-color: #111f4d ;
  color: #f2f4f7;
  border:1px solid  #111f4d ;
  border-radius: 1px;
  padding: +0.6% +5%;
  margin-left: +3%;
  font-weight: 600;
}

.Btn-blue:hover{
  background-color: #f2f4f7;
  color: #111f4d ;
}
