<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12" >
        <div class="card">

          <div class="card-header card-header-primary">
            <h4 class="card-title">Ajouter Nouvelle Compte</h4>
            <br>
          </div>
          <div class="card-body">
            <form (ngSubmit)="onSubmit(form)" #form="ngForm">

                <!-- Informatiosn client -->
                <div class="card pr-4 pl-4 mt-5" style="padding-bottom: 35px ;margin-bottom: 80px">

                  <div class="card-header card-header-primary">
                    <h4 class="card-title">Client</h4>
                  </div>

                  <div class="row mt-5" >
                      <label class="nv-client ml-5 mr-3 mt-2">S'agit ils d'un nouveau client ?</label>
                      <mat-button-toggle-group >
                        <mat-button-toggle class="nv-btn" (click)="notExist()" >
                          Oui
                        </mat-button-toggle>
                        <mat-button-toggle class="nv-btn" (click)="exist()">
                          Non
                        </mat-button-toggle>
                      </mat-button-toggle-group>
                  </div>

                  <div class="card-body row "  *ngIf="!client_exist">

                  <div class="form-group col-md-6"  >
                    <mat-form-field  style="border-radius: 0px" appearance="outline">
                      <mat-label>Nom</mat-label>
                      <input ngModel name="nom"  matInput placeholder="Nom">
                      <mat-hint></mat-hint>
                    </mat-form-field>
                  </div>


                  <div class="form-group col-md-6" >
                    <mat-form-field appearance="outline">
                      <mat-label>Prénom</mat-label>
                      <input ngModel name="prenom" matInput placeholder="Prénom">
                      <mat-hint></mat-hint>
                    </mat-form-field>
                  </div>

                  <div class="form-group col-md-6" >
                    <mat-form-field appearance="outline">
                      <mat-label>CIN</mat-label>
                      <input ngModel name="cin" matInput placeholder="CIN">
                      <mat-hint></mat-hint>
                    </mat-form-field>
                  </div>

                  <div class="form-group col-md-6" >
                    <mat-form-field appearance="outline">
                      <mat-label>Date De Naissance</mat-label>
                      <input matInput ngModel name="date_naissance" [matDatepicker]="picker" placeholder="Date De Naissance">
                      <mat-datepicker-toggle startView="year" matSuffix [for]="picker"></mat-datepicker-toggle>
                      <mat-datepicker #picker></mat-datepicker>

                    </mat-form-field>
                  </div>

                  <div class="form-group col-md-6">
                    <mat-form-field appearance="outline">
                      <mat-select ngModel name="sexe" placeholder="Sexe">
                        <mat-option value="Homme">Homme</mat-option>
                        <mat-option value="Femme">Femme</mat-option>
                      </mat-select>
                      <mat-hint align="end">Hint</mat-hint>
                    </mat-form-field>
                  </div>


                  <div class="form-group col-md-6" >
                    <mat-form-field appearance="outline">
                      <mat-label>Fonction</mat-label>
                      <input ngModel name="fonction" matInput placeholder="Fonction">
                      <mat-hint>Hint</mat-hint>
                    </mat-form-field>
                  </div>

                    <div class="form-group col-md-6">
                      <mat-form-field appearance="outline">
                        <mat-select ngModel name="nature" placeholder="Nature">
                          <mat-option value="Particulier">Particulier</mat-option>
                          <mat-option value="Entreprise">Entreprise</mat-option>
                        </mat-select>
                        <mat-hint align="end"></mat-hint>
                      </mat-form-field>
                    </div>

                  <div class="form-group col-md-6" >
                    <mat-form-field appearance="outline">
                      <mat-label>E-mail</mat-label>
                      <input ngModel name="mail" matInput placeholder="E-mail">
                      <mat-hint></mat-hint>
                    </mat-form-field>
                  </div>


                    <div class="form-group col-md-6" >
                      <mat-form-field appearance="outline">
                        <mat-label>Gouvernerat</mat-label>
                        <input ngModel name="gouvernerat" matInput placeholder="Gouvernerat">
                        <mat-hint>Hint</mat-hint>
                      </mat-form-field>
                    </div>

                    <div class="form-group col-md-6" >
                      <mat-form-field appearance="outline">
                        <mat-label>Ville</mat-label>
                        <input ngModel name="ville" matInput placeholder="Ville">
                        <mat-hint></mat-hint>
                      </mat-form-field>
                    </div>

                    <div class="form-group col-md-6" >
                      <mat-form-field appearance="outline">
                        <mat-label>Code Postale</mat-label>
                        <input ngModel name="code_postale" matInput placeholder="Code Postale">
                        <mat-hint></mat-hint>
                      </mat-form-field>
                    </div>

                    <div class="form-group col-md-6" >
                      <mat-form-field appearance="outline">
                        <mat-label>Quartier</mat-label>
                        <input ngModel name="quartier" matInput placeholder="Quartier">
                        <mat-hint></mat-hint>
                      </mat-form-field>
                    </div>


                  </div>

                  <div class="card-body row "  *ngIf="client_exist">

                    <div class="form-group col-md-10" >
                      <mat-form-field appearance="outline">
                        <mat-label>Identifiant de Client </mat-label>
                        <input [(ngModel)]="ExistClientID" name="id" matInput placeholder="id">
                        <mat-hint></mat-hint>
                      </mat-form-field>
                    </div>

                    <div class="col-md-2" >
                      <div class="col-md-10">
                        <a  style="width: 100%" mat-raised-button class="Btn-blue"  (click)="getExistClient()">
                          Vérifier
                        </a>
                      </div>
                      <div *ngIf="ExistClientCompte" class="col-md-10">
                        <button mat-raised-button class="Btn-details" type="button" data-toggle="collapse" data-target="#ClientExist" aria-expanded="false" aria-controls="collapseExample">
                          <i class="material-icons icon-blue" >
                            subject
                          </i>
                          Détails
                      </button>
                      </div>
                    </div>

                    <div *ngIf="ExistClientCompte" class="collapse" id="ClientExist">
                      <div class="card card-body">
                        details
                      </div>
                    </div>


                  </div>


                </div>
              <div class="card pr-4 pl-4 mb-5" >
                <div class="card-header card-header-primary">
                  <h4 class="card-title">Compte</h4>
                </div>

                <div class="card-body row mt-4" >

                  <div class="form-group col-md-6">
                    <mat-form-field  appearance="outline">
                      <mat-select ngModel name="type_compte" placeholder="Type de compte">
                        <mat-option value=1 *ngIf="!CourantExist">Courant</mat-option>
                        <mat-option value=0 *ngIf="!EpargneExist">Epargne</mat-option>
                      </mat-select>
                      <mat-hint align="end"></mat-hint>
                    </mat-form-field>
                  </div>

                  <div class="form-group col-md-6" >
                    <mat-form-field appearance="outline">
                      <mat-label>Solde initial</mat-label>
                      <input ngModel name="solde" matInput placeholder="Nature" type="number">
                      <mat-hint></mat-hint>
                    </mat-form-field>
                  </div>
                </div>
              </div>

              <div class="card-body row" >
                  <button style="padding-bottom: 5px;margin-top: -20px" mat-raised-button class="Btn-blue" type="submit">Envoyer</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
