<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-10 offset-1" >
        <div class="card">

          <div class="card-header card-header-danger">
            <h4 class="card-title">Ajouter Nouvelle Compte</h4>
          </div>
          <div class="card-body">
            <form (ngSubmit)="onSubmit(form)" #form="ngForm">

              <div class="container" >
                <div class="row">

                  <p class="card-category col-md-12">Informations de client</p>

                  <div class="form-group">
                    <label class="ml-3 mr-3">S'agit ils d'un nouveau client ?</label>
                    <div  class="btn-group" role="group" aria-label="Basic example" >
                      <button name="client-exist" type="button" class="btn btn-danger"  (click)="exist()">Oui</button>
                      <button name="client-exist" type="button" class="btn btn-secondary" (click)="notExist()">Non</button>
                    </div>
                  </div>
                </div>

                <!-- Informations compte -->
                <div class="card pr-4 pl-4 mb-4" >
                  <div class="card-header card-header-primary">
                    <h4 class="card-title">Compte</h4>
                  </div>

                  <div class="card-body row mt-4" >

                    <div class="form-group col-md-6">
                      <mat-form-field  appearance="outline">
                        <mat-select ngModel name="type_compte" placeholder="Type de compte">
                          <mat-option value=1>Courant</mat-option>
                          <mat-option value=0>Epargne</mat-option>
                        </mat-select>
                        <mat-hint align="end"></mat-hint>
                      </mat-form-field>
                    </div>

                    <div class="form-group col-md-6" >
                      <mat-form-field appearance="outline">
                        <mat-label>Solde initial</mat-label>
                        <input ngModel name="solde" matInput placeholder="Nature" type="number">
                        <mat-hint></mat-hint>
                      </mat-form-field>
                    </div>
                  </div>
                </div>

                <!-- Informatiosn client -->
                <div class="card pr-4 pl-4 mb-4" *ngIf="!client_exist">
                  <div class="card-header card-header-danger">
                    <h4 class="card-title">Client</h4>
                  </div>

                  <div class="card-body row mt-4" >

                  <div class="form-group col-md-6" >
                    <mat-form-field  style="border-radius: 0px" appearance="outline">
                      <mat-label>Nom</mat-label>
                      <input ngModel name="nom"  matInput placeholder="Nom">
                      <mat-hint></mat-hint>
                    </mat-form-field>
                  </div>


                  <div class="form-group col-md-6" >
                    <mat-form-field appearance="outline">
                      <mat-label>Prénom</mat-label>
                      <input ngModel name="prenom" matInput placeholder="Prénom">
                      <mat-hint></mat-hint>
                    </mat-form-field>
                  </div>

                  <div class="form-group col-md-6" >
                    <mat-form-field appearance="outline">
                      <mat-label>CIN</mat-label>
                      <input ngModel name="cin" matInput placeholder="CIN">
                      <mat-hint></mat-hint>
                    </mat-form-field>
                  </div>

                  <div class="form-group col-md-6" >
                    <mat-form-field appearance="outline">
                      <mat-label>Date De Naissance</mat-label>
                      <input matInput ngModel name="date_naissance" [matDatepicker]="picker" placeholder="Date De Naissance">
                      <mat-datepicker-toggle startView="year" matSuffix [for]="picker"></mat-datepicker-toggle>
                      <mat-datepicker #picker></mat-datepicker>

                    </mat-form-field>
                  </div>

                  <div class="form-group col-md-6">
                    <mat-form-field appearance="outline">
                      <mat-select ngModel name="sexe" placeholder="Sexe">
                        <mat-option value="Homme">Homme</mat-option>
                        <mat-option value="Femme">Femme</mat-option>
                      </mat-select>
                      <mat-hint align="end">Hint</mat-hint>
                    </mat-form-field>
                  </div>


                  <div class="form-group col-md-6" >
                    <mat-form-field appearance="outline">
                      <mat-label>Fonction</mat-label>
                      <input ngModel name="fonction" matInput placeholder="Fonction">
                      <mat-hint>Hint</mat-hint>
                    </mat-form-field>
                  </div>

                    <div class="form-group col-md-6">
                      <mat-form-field appearance="outline">
                        <mat-select ngModel name="nature" placeholder="Nature">
                          <mat-option value="Particulier">Particulier</mat-option>
                          <mat-option value="Entreprise">Entreprise</mat-option>
                        </mat-select>
                        <mat-hint align="end"></mat-hint>
                      </mat-form-field>
                    </div>

                  <div class="form-group col-md-6" >
                    <mat-form-field appearance="outline">
                      <mat-label>E-mail</mat-label>
                      <input ngModel name="mail" matInput placeholder="E-mail">
                      <mat-hint></mat-hint>
                    </mat-form-field>
                  </div>


                    <div class="form-group col-md-6" >
                      <mat-form-field appearance="outline">
                        <mat-label>Gouvernerat</mat-label>
                        <input ngModel name="gouvernerat" matInput placeholder="Gouvernerat">
                        <mat-hint>Hint</mat-hint>
                      </mat-form-field>
                    </div>

                    <div class="form-group col-md-6" >
                      <mat-form-field appearance="outline">
                        <mat-label>Ville</mat-label>
                        <input ngModel name="ville" matInput placeholder="Ville">
                        <mat-hint></mat-hint>
                      </mat-form-field>
                    </div>

                    <div class="form-group col-md-6" >
                      <mat-form-field appearance="outline">
                        <mat-label>Code Postale</mat-label>
                        <input ngModel name="code_postale" matInput placeholder="Code Postale">
                        <mat-hint></mat-hint>
                      </mat-form-field>
                    </div>

                    <div class="form-group col-md-6" >
                      <mat-form-field appearance="outline">
                        <mat-label>Quartier</mat-label>
                        <input ngModel name="quartier" matInput placeholder="Quartier">
                        <mat-hint></mat-hint>
                      </mat-form-field>
                    </div>


                  </div>
                </div>
                  <button mat-raised-button color="warn" type="submit">Envoyer</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
