<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12" >
        <div class="card">

          <div class="card-header card-header-primary">
            <h4 class="card-title ">Opérations</h4>
            <br>
          </div>
          <div class="card-body">

            <div class="row mt-5" >
              <label class="nv-client ml-5 mr-3 mt-2">Choisir le type d'opération</label>
              <mat-button-toggle-group >
                <mat-button-toggle class="nv-btn" (click)="debiter()" >
                  Débiter
                </mat-button-toggle>
                <mat-button-toggle class="nv-btn" (click)="crediter()">
                  Créditer
                </mat-button-toggle>
                <mat-button-toggle class="nv-btn" (click)="virement()">
                  Virement
                </mat-button-toggle>
              </mat-button-toggle-group>
            </div>









            <div *ngIf="Virement" class="card pr-4 pl-4 mt-5" style="padding-bottom: 35px ;margin-bottom: 80px">
              <div class="card-header card-header-primary">
                <h4 class="card-title">Virement</h4>
              </div>

              <div class="card-body row mt-4 mb-3"  >
                <div class="form-group col-md-10" >
                  <mat-form-field appearance="outline">
                    <mat-label>Numéro Du Compte</mat-label>
                    <input [(ngModel)]="Compte1ID" name="id" matInput placeholder="id">
                    <mat-hint></mat-hint>
                  </mat-form-field>
                </div>

                <div class="col-md-2" >
                  <div class="col-md-10">
                    <a  style="width: 100%" mat-raised-button class="Btn-blue" (click)="VerifierCompte1()">
                      Vérifier
                    </a>
                  </div>
                  <!--<div *ngIf="Client1Comptes" class="col-md-10">-->
                    <!--<button mat-raised-button class="Btn-details" type="button" data-toggle="collapse" data-target="#ClientV1" aria-expanded="false" aria-controls="collapseExample">-->
                      <!--<i class="material-icons icon-blue" >-->
                        <!--subject-->
                      <!--</i>-->
                      <!--Détails-->
                    <!--</button>-->
                  <!--</div>-->
                </div>

                <!--<div class="collapse" id="ClientV1">-->
                  <!--<div class="card card-body">-->
                  <!--</div>-->
                <!--</div>-->
                <!--</div>-->
              </div>

              <div class="card-body row" style="margin-top: -50px">
                <div class="form-group col-md-10" >
                  <mat-form-field appearance="outline">
                    <mat-label>Numéro Du Compte</mat-label>
                    <input [(ngModel)]="Compte2ID" name="id" matInput placeholder="id">
                    <mat-hint></mat-hint>
                  </mat-form-field>
                </div>

                <div class="col-md-2" >
                  <div class="col-md-10">
                    <a  style="width: 100%" mat-raised-button class="Btn-blue" (click)="VerifierCompte2()" >
                      Vérifier
                    </a>
                  </div>
                  <!--<div class="col-md-10">-->
                    <!--<button mat-raised-button class="Btn-details" type="button" data-toggle="collapse" data-target="#ClientV2" aria-expanded="false" aria-controls="collapseExample">-->
                      <!--<i class="material-icons icon-blue" >-->
                        <!--subject-->
                      <!--</i>-->
                      <!--Détails-->
                    <!--</button>-->
                  <!--</div>-->
                </div>

                <!--<div class="collapse" id="ClientV2">-->
                  <!--<div class="card card-body">-->
                  <!--</div>-->
                <!--</div>-->

              <!--</div>-->
            </div>







              <div class="card-body row" *ngIf="Compte1 && Compte2" >
                <form style="padding-right: 0px ; padding-left: 0px ; margin-top: -30px "
                      class="row col-md-12" (ngSubmit)="operationVirer(form,Compte1.numCompte , Compte2.numCompte)" #form="ngForm">
                  <!--<p>Type Compte : Epargne </p>-->
                  <div class="form-group col-md-10" >
                    <mat-form-field appearance="outline">
                      <mat-label>Montant</mat-label>
                      <input  ngModel name="montant" matInput placeholder="montant" type="number">
                      <mat-hint></mat-hint>
                    </mat-form-field>
                  </div>
                  <div class="col-md-2" >
                    <div class="col-md-10">
                      <button style="width: 100%" mat-raised-button class="Btn-blue" type="submit" >Virer</button>
                    </div>
                  </div>
                </form>
              </div>
          </div>






















            <div *ngIf="Debiter" class="card pr-4 pl-4 mt-5" style="padding-bottom: 35px ;margin-bottom: 80px">
              <div class="card-header card-header-primary">
                <h4 class="card-title">Débiter</h4>
              </div>

              <div class="card-body row mt-4 "  >
                <div class="form-group col-md-10" >
                  <mat-form-field appearance="outline">
                    <mat-label>Numéro Du Compte</mat-label>
                    <input  [(ngModel)]="Compte1ID" name="id" matInput placeholder="id">
                    <mat-hint></mat-hint>
                  </mat-form-field>
                </div>

                <div class="col-md-2" >
                  <div class="col-md-10">
                    <a  style="width: 100%" mat-raised-button class="Btn-blue" (click)="VerifierCompte1()" >
                      Vérifier
                    </a>
                  </div>
                </div>
              </div>

              <div class="card-body row" *ngIf="Compte1">
                  <form style="padding-right: 0px ; padding-left: 0px ; margin-top: -30px "
                        class="row col-md-12" (ngSubmit)="operationDebiter(form,Compte1.numCompte)" #form="ngForm">
                    <!--<p>Type Compte : Epargne </p>-->
                    <div  class="form-group col-md-10" >
                      <mat-form-field style="width: 100%" appearance="outline">
                      <mat-label>Montant</mat-label>
                      <input  ngModel name="montant" matInput placeholder="montant" type="number">
                      <mat-hint></mat-hint>
                      </mat-form-field>
                    </div>

                    <div class="col-md-2" >
                      <div class="col-md-10">
                        <button style="width: 100%" mat-raised-button class="Btn-blue" type="submit" >Debiter</button>
                      </div>
                    </div>
                  </form>
              </div>

            </div>













            <div *ngIf="Crediter" class="card pr-4 pl-4 mt-5" style="padding-bottom: 35px ;margin-bottom: 80px">
              <div class="card-header card-header-primary">
                <h4 class="card-title">Créditer</h4>
              </div>

              <div class="card-body row mt-4 "  >
                <div class="form-group col-md-10" >
                  <mat-form-field appearance="outline">
                    <mat-label>Numéro Du Compte </mat-label>
                    <input  [(ngModel)]="Compte1ID" name="id" matInput placeholder="id">
                    <mat-hint></mat-hint>
                  </mat-form-field>
                </div>

                <div class="col-md-2" >
                  <div class="col-md-10">
                    <a  style="width: 100%" mat-raised-button class="Btn-blue" (click)="VerifierCompte1()" >
                      Vérifier
                    </a>
                  </div>
                </div>
              </div>

              <div class="card-body row" *ngIf="Compte1">
                <form style="padding-right: 0px ; padding-left: 0px ; margin-top: -30px "
                      class="row col-md-12" (ngSubmit)="operationCrediter(form,Compte1.numCompte)" #form="ngForm">
                  <!--<p>Type Compte : Epargne </p>-->
                  <div class="form-group col-md-10" >
                    <mat-form-field appearance="outline">
                      <mat-label>Montant</mat-label>
                      <input  ngModel name="montant" matInput placeholder="montant" type="number">
                      <mat-hint></mat-hint>
                    </mat-form-field>
                  </div>
                  <div class="col-md-2" >
                    <div class="col-md-10">
                      <button style="width: 100%" mat-raised-button class="Btn-blue" type="submit" >Créditer</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>



            <div  class="card pr-4 pl-4 mt-5" style="padding-bottom: 35px ;margin-bottom: 80px">
              <div class="card-header card-header-primary">
                <h4 class="card-title">Historique Des Opérations</h4>
              </div>

              <div class="card-body row mt-4 "  >
                <div class="form-group col-md-10" >
                  <mat-form-field appearance="outline">
                    <mat-label>Numéro Du Client</mat-label>
                    <input  [(ngModel)]="ClientID" name="clid" matInput placeholder="id">
                    <mat-hint></mat-hint>
                  </mat-form-field>
                </div>

                <div class="col-md-2" >
                  <div class="col-md-10">
                    <a  style="width: 100%" mat-raised-button class="Btn-blue" (click)="VerifierClient()" >
                      Vérifier
                    </a>
                  </div>
                </div>
              </div>
              <div *ngIf="ClientComptes"  >
                <div class="card card-body">
                  <p>{{Client.nom}}</p>
                  <p>{{Client.numClient}}</p>
                  <div *ngFor="let compte of ClientComptes">
                    <div class="col-md-6">
                      <p>Numéro Du Compte{{compte.numCompte}}</p>
                      <p>Solde{{compte.solde}}</p>
                      <button (click)="getHistorique(compte.numCompte)">Afficher l'historique</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>



























<!--<div *ngIf="Debiter" class="card pr-4 pl-4 mt-5" style="padding-bottom: 35px ;margin-bottom: 80px">-->
  <!--<div class="card-header card-header-primary">-->
    <!--<h4 class="card-title">Débiter</h4>-->
  <!--</div>-->

  <!--<div class="card-body row mt-4 "  >-->
    <!--<div class="form-group col-md-10" >-->
      <!--<mat-form-field appearance="outline">-->
        <!--<mat-label>Identifiant de Client </mat-label>-->
        <!--<input  [(ngModel)]="Client1ID" name="id" matInput placeholder="id">-->
        <!--<mat-hint></mat-hint>-->
      <!--</mat-form-field>-->
    <!--</div>-->

    <!--<div class="col-md-2" >-->
      <!--<div class="col-md-10">-->
        <!--<a  style="width: 100%" mat-raised-button class="Btn-blue" (click)="VerifierDebiterClient()" >-->
          <!--Vérifier-->
        <!--</a>-->
      <!--</div>-->
      <!--<div *ngIf="Client1Comptes" class="col-md-10">-->
        <!--<button mat-raised-button class="Btn-details" type="button" data-toggle="collapse" data-target="#ClientD" aria-expanded="false" aria-controls="collapseExample">-->
          <!--<i class="material-icons icon-blue" >-->
            <!--subject-->
          <!--</i>-->
          <!--Détails-->
        <!--</button>-->
      <!--</div>-->
    <!--</div>-->

    <!--<div *ngIf="Client1Comptes" class="collapse" id="ClientD">-->
      <!--<div class="card card-body">-->
        <!--<p>{{Client1.nom}}</p>-->
        <!--<p>{{Client1.numClient}}</p>-->
        <!--<div *ngFor="let compte of Client1Comptes">-->
          <!--<div *ngIf="compte.numTypeCompte===0">-->

            <!--<form (ngSubmit)="operationDebiter(form,compte.numCompte)" #form="ngForm">-->
              <!--<p>Type Compte : Epargne </p>-->
              <!--<div class="form-group col-md-10" >-->
                <!--<mat-form-field appearance="outline">-->
                  <!--<mat-label>Montant</mat-label>-->
                  <!--<input  ngModel name="montant" matInput placeholder="montant" type="number">-->
                  <!--<mat-hint></mat-hint>-->
                <!--</mat-form-field>-->
                <!--<button type="submit" >Debiter</button>-->
              <!--</div>-->
            <!--</form>-->

          <!--</div>-->

          <!--<div *ngIf="compte.numTypeCompte===1">-->
            <!--<form (ngSubmit)="operationDebiter(form,compte.numCompte)" #form="ngForm">-->
              <!--<p>Type Compte : Courant </p>-->
              <!--<div class="form-group col-md-10" >-->
                <!--<mat-form-field appearance="outline">-->
                  <!--<mat-label>Montant</mat-label>-->
                  <!--<input  ngModel name="montant" matInput placeholder="montant" type="number">-->
                  <!--<mat-hint></mat-hint>-->
                <!--</mat-form-field>-->
                <!--<button type="submit" >Debiter</button>-->
              <!--</div>-->
            <!--</form>-->
          <!--</div>-->

        <!--</div>-->


      <!--</div>-->
    <!--</div>-->

  <!--</div>-->
<!--</div>-->
