<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12" >
        <div class="card">

          <div class="card-header card-header-primary row">
            <h4 class="card-title">Gestion Des Employées</h4>
            <button  class="ml-auto mr-2" mat-mini-fab color="primary" >
              <i class="material-icons icon-white" style="font-size: 40px ; margin-top: -8px" >
                add_circle
              </i>
            </button>
            <br>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table table-hover">

                <thead class="text-light" style="background-color:#f2f4f7 ;" >
                <th style="color: #020205">Nom</th>
                <th style="color: #020205">Prénom</th>
                <th style="color: #020205">Date de naissance</th>
                <th style="color: #020205" class="text-center">Actions</th>
                </thead>

                <tbody>
                <tr *ngFor="let emp of EMPS">
                  <td>{{emp.nom}}</td>
                  <td>{{emp.prenom}}</td>
                  <td>{{emp.dateNais}}</td>
                  <td class="td-actions text-center">
                    <button mat-raised-button
                            type="button"
                            matTooltip="Détails"
                            [matTooltipPosition]="'above'"
                            class="btn btn-primary  btn-link btn-just-icon"
                            (click)="openDetailsDialog(emp)"
                            >
                      <i class="material-icons icon-blue" >
                        subject
                      </i>                    </button>
                    <button mat-raised-button
                            type="button"
                            matTooltip="Modifier"
                            [matTooltipPosition]="'above'"
                            class="btn btn-primary btn-link btn btn-just-icon"
                            (click)="openPatchDialog(emp.numEmployee)"
                            >
                      <i class="material-icons icon-blue">
                        edit
                      </i>
                    </button>
                    <button mat-raised-button
                            type="button"
                            matTooltip="Supprimer"
                            [matTooltipPosition]="'above'"
                            class="btn btn-danger btn-link btn-sm btn-just-icon "
                            (click)="openDeleteDialog(emp.numEmployee)">
                      <i class="material-icons ">
                        close
                      </i>
                    </button>
                  </td>
                </tr>
                </tbody>

              </table>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>


